$bg-color-primary:  hsl(0, 0%, 97%);
$bg-color-black: hsl(36, 10%, 10%);
$bg-color-white: hsl(0, 0%, 100%);

$bg-highlight-light: hsl(33, 51%, 44%);
$bg-hightlight-dark: hsl(353, 38%, 41%);

$fill-light: hsl(353, 38%, 41%);
$fill-dark: hsl(353, 38%, 41%);

$text-color-primary:  hsl(0, 0%, 27%);
$text-color-black: hsl(0, 0%, 0%);
$text-color-white: hsl(0, 0%, 100%);

$button-bg-color-primary: #7f92ab;
$button-bg-color-info: #15243d;
$button-bg-color-success: #5ba66b;
$button-bg-color-warning: #d99633;
$button-bg-color-danger: #f44336;



